@model IEnumerable<MAVRS.Models.Nextvisit>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.P_national_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Full_names)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.S_national_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone_no)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.P_national_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Full_names)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S_national_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone_no)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
